/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}


p {
  font-size: 10.5vw;
  margin: 2em;
}

/* div{
  height:100px;
  width:100px;
  margin:10px;
} */

.first-div {
  color: red;
  font-size: 5vw;
  
}

.second-div {
  color:darkmagenta;
  font-size: 5vw;
} */

.layouttext {
  display: grid;
/*   grid-template-columns: 1fr 1fr 1fr; */
  /*   grid-template-rows: 1fr fr 1fr; */
  grid-template-areas:
  "text1 . ."
  ". text2 ."
  ". . text3"
  "text4 . ."
  ". text5 ."
  ". . text6"
  "text7 . ."
  ". text8 ."
  ". . text9"
  "text10 . ."
  ". text11 ."
  ". . text12"  
}

