body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}


p {
  font-size: 10.5vw;
  margin: 2em;
}

/* div{
  height:100px;
  width:100px;
  margin:10px;
} */

/* .first-div {
  color: red;
  font-size: 5vw;
  
}

.second-div {
  color:darkmagenta;
  font-size: 5vw;
} */

.first-div {
  color: red;
  font-size: 5vw;
  
}

.second-div {
  color: red;
  font-size: 5vw;
}

.third-div {
  color: red;
  font-size: 5vw;
}

.fourth-div {
  color: red;
  font-size: 5vw;
}

.fifth-div {
  color: red;
  font-size: 5vw;
}

.sixth-div {
  color: red;
  font-size: 5vw;
}

.seventh-div {
  color: red;
  font-size: 5vw;
}

.eighth-div {
  color: red;
  font-size: 5vw;
}

.ninth-div {
  color: red;
  font-size: 5vw;
}

.tenth-div {
  color: red;
  font-size: 5vw;
}

.eleventh-div {
  color: red;
  font-size: 5vw;
}

.twelfth-div {
  color: red;
  font-size: 5vw;
}

.first2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.second2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.third2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.fourth2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.fifth2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.sixth2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.seventh2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.eighth2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.ninth2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.tenth2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.eleventh2-div {
  color:darkmagenta;
  font-size: 5vw;
}

.twelfth2-div {
  color:darkmagenta;
  font-size: 5vw;
}



.layouttext {
  display: grid;
/*   grid-template-columns: 1fr 1fr 1fr; */
  /*   grid-template-rows: 1fr fr 1fr; */
  grid-template-areas:
  "text1 . ."
  ". text2 ."
  ". . text3"
  "text4 . ."
  ". text5 ."
  ". . text6"
  "text7 . ."
  ". text8 ."
  ". . text9"
  "text10 . ."
  ". text11 ."
  ". . text12"  
}


.test-example{
  
  transition:all 3s;
  transform: rotate(90deg);
}

.test-example2{
  
  transition:all 3s;
  transform: rotate(360deg);
}

.test-example3{
  
  transition:all 3s;
  transform: rotate(-90deg);
}

.test-example4{
  
  transition:all 3s;
  transform: rotate(-360deg);
}